* {
    font-family: "Chakra Petch", sans-serif;
    background: #FC5C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
    padding: 60px;
   
}

input {
    color:black;
    font-size: 1.2rem;
    width: 100%;
}


.card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.card {
    align-content: center;
    border: 1px solid grey;
    border-radius: 6px;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: hidden;
}

.card p {
    padding: 5px;
    text-align: center;
}

.card img {
    max-height: 200px;
}

